<?xml version="1.0" encoding="UTF-8"?>
<!--
theme name:     Prevail
version:        0.1
author:         T. Higgins (purehavuk)
email:          purehavukgaming@gmail.com	
website:        purehavuk.com
license:        creative commons CC-BY-NC-SA
based on:       "Carbon" by Eric Hettervik, "Art Book" by Anthony Caccese
-->

<theme>

<formatVersion>7</formatVersion>

	<view name="menu">

		<menuText name="menutitle">
			<fontPath>./assets/fonts/Oswald-Bold.ttf</fontPath>
			<fontSize>0.035</fontSize>
			<color>ffffff</color>
		</menuText>
		
		<menuText name="menufooter">
			<fontPath>./assets/fonts/Roboto-Light.ttf</fontPath>
			<fontSize>0.015</fontSize>
			<color>515151</color>
		</menuText>

		<menuText name="menutext">
			<fontPath>./assets/fonts/Roboto-Light.ttf</fontPath>
			<fontSize>0.025</fontSize>
			<fontSize tinyScreen="true">0.034</fontSize>
			<color>a1a1a1</color>
			<separatorColor>0000000</separatorColor>
			<selectorColor>ff00ff</selectorColor>
			<selectorColorEnd>00000000</selectorColorEnd>
			<selectedColor>FFFFFF</selectedColor>
			<selectorGradientType>horizontal</selectorGradientType>
		</menuText>

		<menuTextSmall name="menutextsmall">
			<fontPath>./assets/fonts/Roboto-Light.ttf</fontPath>
			<fontSize>0.015</fontSize>
			<color>a1a1a1</color>
		</menuTextSmall>

		<menuGroup name="menugroup">
			<fontPath>./assets/fonts/Oswald-Medium.ttf</fontPath>
			<fontSize>0.02</fontSize>
			<color>55ffff</color>
			<separatorColor>a1a1a1</separatorColor>
			<backgroundColor>00000000</backgroundColor>
			<lineSpacing>1.75</lineSpacing>
		</menuGroup>

		<menuBackground name="menubg">
			<color>212121e5</color>
			<cornerSize>32 32</cornerSize>
			<scrollbarColor>a1a1a1e5</scrollbarColor>
			<scrollbarCorner>0.5</scrollbarCorner>
			<scrollbarSize>0.0025</scrollbarSize>
			<scrollbarAlignment>innerright</scrollbarAlignment>
		</menuBackground>

		<menuIcons name="menuicons">
   			<iconKodi>./assets/icons/Kodi.png</iconKodi>
    		<iconSystem>./assets/icons/System.png</iconSystem>
	    	<iconUpdates>./assets/icons/Updates.png</iconUpdates>
    		<iconGames>./assets/icons/Games.png</iconGames>
	    	<iconControllers>./assets/icons/Controllers.png</iconControllers>
    		<iconUI>./assets/icons/UI.png</iconUI>
    		<iconSound>./assets/icons/Sound.png</iconSound>
	    	<iconNetwork>./assets/icons/Network.png</iconNetwork>
    		<iconScraper>./assets/icons/Scraper.png</iconScraper>
    		<iconAdvanced>./assets/icons/Advanced.png</iconAdvanced>
    		<iconQuit>./assets/icons/Quit.png</iconQuit>
    		<iconRestart>./assets/icons/Restart.png</iconRestart>
    		<iconShutdown>./assets/icons/Shutdown.png</iconShutdown>
    		<iconFastShutdown>./assets/icons/Fastshutdown.png</iconFastShutdown>
    		<iconRetroachievements>./assets/icons/Contest.png</iconRetroachievements>
    		<iconManual>./assets/icons/Manual.png</iconManual>
    	</menuIcons>

	</view>

</theme>